<main>
  <div class="wrapper">
    <header id="header">
      <h1 class="title">Lifecycle hooks</h1>
      <ul class="linkLists">
        <li class="linkList">
          <a href="#hooks" class="linkItem"
            >Peek-a-boo: (most) lifecycle hooks</a
          >
        </li>
      </ul>
    </header>
    <hr />
    <app-peek-aboo-parent id="hooks"></app-peek-aboo-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-spy id="spy"></app-spy>
    <a href="#header">back to top</a>
    <hr />
    <app-on-changes-parent id="onchanges"></app-on-changes-parent>
    <a href="#header">back to top</a>
    <hr />
  </div>
</main>
