<main>
  <div class="wrapper">
    <header id="header">
      <h1 class="title">Lifecycle hooks</h1>
      <ul class="linkLists">
        <li class="linkList">
          <a href="#hooks" class="linkItem"
            >Peek-a-boo: (most) lifecycle hooks</a
          >
        </li>
        <li class="linkList">
          <a href="#spy" class="linkItem"
            >Spy: directive with OnInit & OnDestroy</a
          >
        </li>
        <li class="linkList">
          <a href="#onchanges" class="linkItem">OnChanges</a>
        </li>
        <li class="linkList">
          <a href="#doCheck" class="linkItem">DoCheck</a>
        </li>
        <li class="linkList">
          <a href="#after-view" class="linkItem"
            >AfterViewInit & AfterViewChecked</a
          >
        </li>
        <li class="linkList">
          <a href="#after-content" class="linkItem"
            >AfterContentInit & AfterContentChecked</a
          >
        </li>
        <li class="linkList">
          <a href="#counter" class="linkItem"
            >ounter: OnChanges + Spy directive</a
          >
        </li>
      </ul>
    </header>
    <hr />
    <app-peek-aboo-parent id="hooks"></app-peek-aboo-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-spy id="spy"></app-spy>
    <a href="#header">back to top</a>
    <hr />
    <app-on-changes-parent id="onchanges"></app-on-changes-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-do-check-parent id="doCheck"></app-do-check-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-after-view-parent id="after-view"></app-after-view-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-after-content-parent id="after-content"></app-after-content-parent>
    <a href="#header">back to top</a>
    <hr />
    <app-counter-parent id="counter"></app-counter-parent>
    <a href="#header">back to top</a>
    <hr />
  </div>
</main>
